* {
  list-style-type: none;
  text-align: center;
}

h1 {
  font-family: Montserrat Subrayada, sans-serif;
  text-align: center;
  width: 80%;
  margin: auto;
  padding: 30px ;
  margin-top: 25px;
  border-radius: 25px;
  background-color: rgba(94, 13, 255, 0.3);
}

h2 {
  display: inline-block;
  margin: 20px;
  font-family: Oswald, sans-serif;
}

h3 {
  margin: 20px;
}

.content {
  display: inline-block;
  border: solid 1px rgba(94, 13, 255, 0.3);
  border-radius: 25px;
  position: relative;
  margin: 25px;
  right: -20px;
  font-family: Lato, sans-serif;
  width: 55%;
  padding: 10px;
}

.right {
  display: block;
  position: relative;
  right: 85px;
  margin: 25px;
  float: right;
  border-radius: 25px;
  width: 380px;
}

#organizations.iframe {
  width: 600px;
}

iframe {
  display: block;
  padding: 10px;
  margin: auto;
  width: 320px;
}

#picture {
  width: 380px;
  border-radius: 25px;
}

#links {
  border: solid 1px rgba(94, 13, 255, 0.3);
  border-radius: 25px;
  font-family: Lato, sans-serif;
  padding: 25px;
}

video {
  padding: 10px;
}

#longboard, #dance {
  display: inline-block;
}

#backtotop {
  position: fixed;
  width: 50px;
  float: right;
  top: 725px;
  right: 50px;
}

#hobbies {
  text-align: center;
}
